<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-slides pager>

    <ion-slide *ngFor="let slide of slides">
      <div class="card" [ngStyle]="{'background-image': 'url(assets/cards/' + slide.image + ')'}"></div>
      <div class="message">
        <h2 class="slide-title">{{slide.title}}</h2>
        <p>{{slide.text}}</p>
      </div>
    </ion-slide>

  </ion-slides>

  <div class="card-wrapper">
    <ion-card *ngFor="let specialization of specializations">
      <ion-grid>
        <ion-row>
          <ion-col col-2 class="image-wrapper">
            <ion-icon name="{{specialization.ico}}" [ngStyle]="{color: specialization.color}"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-card-header>
              <b>
                {{specialization.name}}
              </b>
            </ion-card-header>
            <ion-card-content>
              {{specialization.text}}
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>




<!--<h3>Ionic Menu Starter</h3>-->

<!--<p>-->
<!--If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.-->
<!--</p>-->

<!--<button ion-button secondary menuToggle>Toggle Menu</button>-->